.home_container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	gap: 50px;
}
.home_content{
	display: flex;
	flex-direction: column;
	gap: 30px;

	background-color: #ffffff;
	padding: 40px;
	border-radius: 15px;
	transition: all .25s ease;
	opacity: 1;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
	&.active{
		overflow: hidden;
		visibility: hidden;
		transition: all .25s ease;
		position: absolute;
		opacity: 0;
	}
}
.home_header{
	display: flex;
	justify-content: end;
	flex-direction: column;
	gap: 20px;
}
.home_button_lk{
	padding: 10px 20px;
	border-radius:10px;
	max-width: 200px;
	background-color: #66AF55;
	color:white;
	cursor: pointer;
	text-align: center;
}
.signup_box{
	display: flex;
	flex-direction: column;
	right: 0;
	gap: 30px;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	transition: all .25s ease;
	background-color: #ffffff;
	padding: 40px;
	opacity: 0;
	border-radius: 15px;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
	&.active{
		overflow: visible;
		visibility: visible;
		transition: all .25s ease;
		position: relative;
		opacity: 1;
	}
}
.title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	font-weight: 500;
	position: relative;
}
.application_content{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.home_link{
	position: absolute;
	top: -100px;
	right: 0;
	font-size: 12px;
	font-weight: 600;
	color: #66AF55;
	padding: 10px;
	border-radius: 10px;
	background-color:#ffffff;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}