.wash_container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.selector_box{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.btn{
	padding: 15px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.2px;
	border-radius: 10px;
	background-color: #66AF55;
	color: white;
	cursor: pointer;
	transition: all 0.25s ease;
	&:hover {
		background-color: darkgreen;
		box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
		transition: all 0.25s ease;
	}
}